/* Template code is for testing and example import purposes */

@font-face {
  font-family: bahianita; 
  src: url(../assets/fonts/Bahianita/Bahianita-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}

:root {
  --main-font-family: bahianita, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--main-font-family);
  min-height: 100vh;
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 7rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: min-content;
  height: 25rem;
  width: 25rem;
}

.main {
  flex: 1;
  display: flex;
  gap: 4rem;
}

.cell {
  outline: 2px solid whitesmoke;
  background-color: rebeccapurple;
}

.ships {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.ships img {
  flex: 1;
  width: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.board .ship {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  /* background-size: cover; */
}

.main > .container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

button {
  padding: 0.3rem 2rem;
  text-transform: capitalize;
  font-size: 1.3rem;
  width: 14rem;
}
