/* Template code is for testing and example import purposes */

@font-face {
  font-family: bahianita; 
  src: url(../assets/fonts/Bahianita/Bahianita-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}

:root {
  --main-font-family: bahianita, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #111D4A;
  font-family: var(--main-font-family);
  min-height: 100vh;
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #B68F40;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: min-content;
  height: 25rem;
  width: 25rem;
}

.main {
  flex: 1;
}

.in-setup.main {
  gap: 4rem;
  display: flex;
}

.main.in-game button.back.setup {
  background-color: pink;
  grid-column: 1 / span 2;
  width: fit-content;
}

.cell {
  outline: 2px solid whitesmoke;
  background-color: rebeccapurple;
}

.ships {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

div.test {
  background-image: url(../assets//images/terminator_zero_future_hunter.jpg);
  outline: 0;
  border: 0;
  display: block;
  width: 10rem;
  height: 10rem;
}

.ships div {
  flex: 1;
  width: 10rem; 
  background-repeat: no-repeat;
  background-size: cover;
}

.board .ship {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  /* background-size: cover; */
}

.in-setup.main > .container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  place-content: center;
}

.in-game.main {
  display: grid;
  grid-template: auto 1fr / 1fr 1fr;
  gap: 2rem;
}

button {
  padding: 0.3rem 2rem;
  text-transform: capitalize;
  font-size: 1.3rem;
  width: 14rem;
}
